{
  "name": "Resume_Main_git",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/styles.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"css/styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "scss",
      "scss/libs",
      "scss/utilities"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/styles.scss",
      "imports": [
        "scss/libs/_index.scss",
        "scss/utilities/_index.scss",
        "scss/base/_index.scss",
        "scss/layout/_index.scss",
        "scss/atoms/_index.scss",
        "scss/molecules/_index.scss",
        "scss/organisms/_index.scss",
        "scss/states/_index.scss",
        "scss/overrides/_index.scss",
        "scss/states/_print.scss",
        "scss/utilities/_fonts.scss",
        "scss/_shame.scss",
        "scss/libs/_pesticide.scss",
        "scss/libs/_normalize.scss",
        "scss/utilities/_config.scss",
        "scss/utilities/_colors.scss",
        "scss/utilities/_typography.scss",
        "scss/utilities/_functions.scss",
        "scss/utilities/_mixins.scss",
        "scss/base/_base.scss"
      ]
    },
    {
      "path": "scss/base/_indexbase.scss",
      "imports": [
        "scss/base/_base.scss"
      ]
    },
    {
      "path": "scss/libs/_indexLib.scss",
      "imports": [
        "scss/libs/_pesticide.scss",
        "scss/libs/_normalize.scss",
        "scss/libs/bourbon/_bourbon.scss",
        "scss/libs/neat/_neat.scss",
        "scss/libs/bitters/_base.scss",
        "scss/libs/bourbon/helpers/_buttons-list.scss",
        "scss/libs/bourbon/helpers/_scales.scss",
        "scss/libs/bourbon/helpers/_text-inputs-list.scss",
        "scss/libs/bourbon/settings/_settings.scss",
        "scss/libs/bourbon/validators/_contains.scss",
        "scss/libs/bourbon/validators/_contains-falsy.scss",
        "scss/libs/bourbon/validators/_is-color.scss",
        "scss/libs/bourbon/validators/_is-length.scss",
        "scss/libs/bourbon/validators/_is-number.scss",
        "scss/libs/bourbon/validators/_is-size.scss",
        "scss/libs/bourbon/utilities/_assign-inputs.scss",
        "scss/libs/bourbon/utilities/_compact-shorthand.scss",
        "scss/libs/bourbon/utilities/_directional-property.scss",
        "scss/libs/bourbon/utilities/_font-source-declaration.scss",
        "scss/libs/bourbon/utilities/_gamma.scss",
        "scss/libs/bourbon/utilities/_lightness.scss",
        "scss/libs/bourbon/utilities/_contrast-ratio.scss",
        "scss/libs/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "scss/libs/bourbon/utilities/_unpack-shorthand.scss",
        "scss/libs/bourbon/library/_border-color.scss",
        "scss/libs/bourbon/library/_border-radius.scss",
        "scss/libs/bourbon/library/_border-style.scss",
        "scss/libs/bourbon/library/_border-width.scss",
        "scss/libs/bourbon/library/_buttons.scss",
        "scss/libs/bourbon/library/_clearfix.scss",
        "scss/libs/bourbon/library/_contrast-switch.scss",
        "scss/libs/bourbon/library/_ellipsis.scss",
        "scss/libs/bourbon/library/_font-face.scss",
        "scss/libs/bourbon/library/_font-stacks.scss",
        "scss/libs/bourbon/library/_hide-text.scss",
        "scss/libs/bourbon/library/_hide-visually.scss",
        "scss/libs/bourbon/library/_margin.scss",
        "scss/libs/bourbon/library/_modular-scale.scss",
        "scss/libs/bourbon/library/_overflow-wrap.scss",
        "scss/libs/bourbon/library/_padding.scss",
        "scss/libs/bourbon/library/_position.scss",
        "scss/libs/bourbon/library/_prefixer.scss",
        "scss/libs/bourbon/library/_shade.scss",
        "scss/libs/bourbon/library/_size.scss",
        "scss/libs/bourbon/library/_strip-unit.scss",
        "scss/libs/bourbon/library/_text-inputs.scss",
        "scss/libs/bourbon/library/_timing-functions.scss",
        "scss/libs/bourbon/library/_tint.scss",
        "scss/libs/bourbon/library/_triangle.scss",
        "scss/libs/bourbon/library/_value-prefixer.scss",
        "scss/libs/neat/_neat-helpers.scss",
        "scss/libs/neat/grid/_private.scss",
        "scss/libs/neat/grid/_box-sizing.scss",
        "scss/libs/neat/grid/_omega.scss",
        "scss/libs/neat/grid/_outer-container.scss",
        "scss/libs/neat/grid/_span-columns.scss",
        "scss/libs/neat/grid/_row.scss",
        "scss/libs/neat/grid/_shift.scss",
        "scss/libs/neat/grid/_pad.scss",
        "scss/libs/neat/grid/_fill-parent.scss",
        "scss/libs/neat/grid/_media.scss",
        "scss/libs/neat/grid/_to-deprecate.scss",
        "scss/libs/neat/grid/_visual-grid.scss",
        "scss/libs/neat/grid/_display-context.scss",
        "scss/libs/neat/grid/_direction-context.scss",
        "scss/libs/bitters/_variables.scss",
        "scss/libs/bitters/_buttons.scss",
        "scss/libs/bitters/_forms.scss",
        "scss/libs/bitters/_layout.scss",
        "scss/libs/bitters/_lists.scss",
        "scss/libs/bitters/_media.scss",
        "scss/libs/bitters/_tables.scss",
        "scss/libs/bitters/_typography.scss",
        "scss/libs/neat/mixins/_clearfix.scss",
        "scss/libs/neat/functions/_private.scss",
        "scss/libs/neat/functions/_new-breakpoint.scss",
        "scss/libs/neat/settings/_grid.scss",
        "scss/libs/neat/settings/_visual-grid.scss",
        "scss/libs/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "scss/themes/rebeccapurple.scss",
      "imports": [
        "scss/styles.scss",
        "scss/libs/_index.scss",
        "scss/utilities/_index.scss",
        "scss/base/_index.scss",
        "scss/layout/_index.scss",
        "scss/atoms/_index.scss",
        "scss/molecules/_index.scss",
        "scss/organisms/_index.scss",
        "scss/states/_index.scss",
        "scss/overrides/_index.scss",
        "scss/states/_print.scss",
        "scss/utilities/_fonts.scss",
        "scss/_shame.scss",
        "scss/libs/_pesticide.scss",
        "scss/libs/_normalize.scss",
        "scss/utilities/_config.scss",
        "scss/utilities/_colors.scss",
        "scss/utilities/_typography.scss",
        "scss/utilities/_functions.scss",
        "scss/utilities/_mixins.scss",
        "scss/base/_base.scss"
      ]
    },
    {
      "path": "scss/utilities/_index.scss",
      "imports": [
        "scss/utilities/_config.scss",
        "scss/utilities/_colors.scss",
        "scss/utilities/_typography.scss",
        "scss/utilities/_fonts.scss",
        "scss/utilities/_functions.scss",
        "scss/utilities/_mixins.scss"
      ]
    },
    {
      "path": "scss/libs/bitters/_base.scss",
      "imports": [
        "scss/libs/bitters/_variables.scss",
        "scss/libs/bitters/_buttons.scss",
        "scss/libs/bitters/_forms.scss",
        "scss/libs/bitters/_layout.scss",
        "scss/libs/bitters/_lists.scss",
        "scss/libs/bitters/_media.scss",
        "scss/libs/bitters/_tables.scss",
        "scss/libs/bitters/_typography.scss"
      ]
    },
    {
      "path": "scss/libs/bourbon/_bourbon.scss",
      "imports": [
        "scss/libs/bourbon/helpers/_buttons-list.scss",
        "scss/libs/bourbon/helpers/_scales.scss",
        "scss/libs/bourbon/helpers/_text-inputs-list.scss",
        "scss/libs/bourbon/settings/_settings.scss",
        "scss/libs/bourbon/validators/_contains.scss",
        "scss/libs/bourbon/validators/_contains-falsy.scss",
        "scss/libs/bourbon/validators/_is-color.scss",
        "scss/libs/bourbon/validators/_is-length.scss",
        "scss/libs/bourbon/validators/_is-number.scss",
        "scss/libs/bourbon/validators/_is-size.scss",
        "scss/libs/bourbon/utilities/_assign-inputs.scss",
        "scss/libs/bourbon/utilities/_compact-shorthand.scss",
        "scss/libs/bourbon/utilities/_directional-property.scss",
        "scss/libs/bourbon/utilities/_font-source-declaration.scss",
        "scss/libs/bourbon/utilities/_gamma.scss",
        "scss/libs/bourbon/utilities/_lightness.scss",
        "scss/libs/bourbon/utilities/_contrast-ratio.scss",
        "scss/libs/bourbon/utilities/_retrieve-bourbon-setting.scss",
        "scss/libs/bourbon/utilities/_unpack-shorthand.scss",
        "scss/libs/bourbon/library/_border-color.scss",
        "scss/libs/bourbon/library/_border-radius.scss",
        "scss/libs/bourbon/library/_border-style.scss",
        "scss/libs/bourbon/library/_border-width.scss",
        "scss/libs/bourbon/library/_buttons.scss",
        "scss/libs/bourbon/library/_clearfix.scss",
        "scss/libs/bourbon/library/_contrast-switch.scss",
        "scss/libs/bourbon/library/_ellipsis.scss",
        "scss/libs/bourbon/library/_font-face.scss",
        "scss/libs/bourbon/library/_font-stacks.scss",
        "scss/libs/bourbon/library/_hide-text.scss",
        "scss/libs/bourbon/library/_hide-visually.scss",
        "scss/libs/bourbon/library/_margin.scss",
        "scss/libs/bourbon/library/_modular-scale.scss",
        "scss/libs/bourbon/library/_overflow-wrap.scss",
        "scss/libs/bourbon/library/_padding.scss",
        "scss/libs/bourbon/library/_position.scss",
        "scss/libs/bourbon/library/_prefixer.scss",
        "scss/libs/bourbon/library/_shade.scss",
        "scss/libs/bourbon/library/_size.scss",
        "scss/libs/bourbon/library/_strip-unit.scss",
        "scss/libs/bourbon/library/_text-inputs.scss",
        "scss/libs/bourbon/library/_timing-functions.scss",
        "scss/libs/bourbon/library/_tint.scss",
        "scss/libs/bourbon/library/_triangle.scss",
        "scss/libs/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "scss/libs/neat/_neat-helpers.scss",
      "imports": [
        "scss/libs/neat/mixins/_clearfix.scss",
        "scss/libs/neat/functions/_private.scss",
        "scss/libs/neat/functions/_new-breakpoint.scss",
        "scss/libs/neat/settings/_grid.scss",
        "scss/libs/neat/settings/_visual-grid.scss",
        "scss/libs/neat/settings/_disable-warnings.scss"
      ]
    },
    {
      "path": "scss/libs/neat/_neat.scss",
      "imports": [
        "scss/libs/neat/_neat-helpers.scss",
        "scss/libs/neat/grid/_private.scss",
        "scss/libs/neat/grid/_box-sizing.scss",
        "scss/libs/neat/grid/_omega.scss",
        "scss/libs/neat/grid/_outer-container.scss",
        "scss/libs/neat/grid/_span-columns.scss",
        "scss/libs/neat/grid/_row.scss",
        "scss/libs/neat/grid/_shift.scss",
        "scss/libs/neat/grid/_pad.scss",
        "scss/libs/neat/grid/_fill-parent.scss",
        "scss/libs/neat/grid/_media.scss",
        "scss/libs/neat/grid/_to-deprecate.scss",
        "scss/libs/neat/grid/_visual-grid.scss",
        "scss/libs/neat/grid/_display-context.scss",
        "scss/libs/neat/grid/_direction-context.scss",
        "scss/libs/neat/mixins/_clearfix.scss",
        "scss/libs/neat/functions/_private.scss",
        "scss/libs/neat/functions/_new-breakpoint.scss",
        "scss/libs/neat/settings/_grid.scss",
        "scss/libs/neat/settings/_visual-grid.scss",
        "scss/libs/neat/settings/_disable-warnings.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": true,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}