a#strava {
  font: 11px Helvetica, Arial, sans-serif;
  background: url('http://badges.strava.com/logo-strava-echelon.png') no-repeat 10px center #FC4C02;
  display: inline-block;
  color: #fff;
  padding: 5px 10px 5px 30px;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 3px;
  img {
    margin-left: 2px;
    vertical-align: text-bottom;
  }
}
